.done {
    text-decoration: line-through;
    color: salmon;
}

.todoItemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleText {
    padding: 5px;
    flex: 1;
    margin-right: 20px;
}

.notEdit {
    border: none;
    font-size: 16px;
    outline: none;
}
